@media ( max-width: 1000px)
    .header
        &__link
            display: none
    .scooter
        .container
            padding: 30px 20px 20px
        &__text
            width: 100%
            span
                position: relative
                top: 0
        &__btn 
            padding: 20px 55px
        &__moscow
            font-size: 36px
            width: 300px
            line-height: 36px
            img
                display: none
    .rent
        .container
            padding: 30px 20px 20px
        .wrapper
            grid-template-columns: 1fr
        &__title
            font-size: 40px
        &__instruct
            &_card
                margin-bottom: 20px
                img
                    max-width: 290px
                &:nth-child(3)
                    max-width: 250px 
                    margin-bottom: 180px
            &_text
                margin-top: 0  
                font-size: 25px
        &__button
            padding: 20px 30px
            font-size: 30px
        &__arrow
            left: 65px
            bottom: 0
        &__video
            order: -1
            width: 100%
            margin-bottom: 50px
            video
                width: 100%
    .punkt
        padding-top: 800px
        .container
            padding: 0 20px
        .wrapper
            grid-template-columns: 1fr
        &__content
            padding: 40px 10px 364px
        &__insurance
            width: calc(100% - 40px)
            right: 20px
            padding: 40px 20px
            &_text
                font-size: 25px
        .swiper__wrapper
            width: 100%
            max-width: 400px
            height: 620px
            top: -700px            
            right: 50%
            transform: translateX(50%)
            padding: 0 20px
            .swiper
                video
                    width: 100%
                    height: 100%
        &__title
            font-size: 40px
    .art        
        background: url('../img/girl.jpg') top center / contain no-repeat #222
        min-height: 1800px
        .container
            padding: 0 20px
        &__img
            display: none
        &__textBx
            width: 100%
            height: 700px
            background: url('../img/back.jpg') bottom center / contain no-repeat #C5CDD9
            padding: 40px 15px
            font-size: 20px
            line-height: 38px
            border-radius: 30px
        &__subtitle
            width: 100%
        &__title
            font-size: 40px
    .where
        .container
            padding: 0 20px
        &__title
            font-size: 40px



    .download
        display: none
